<div class="row">
	<div class="col-md-12">
		<div ng-show="!showCam && !isCaptureLoading && !showUpload"
			class="pull-left" player-img="imageUrl"></div>
		
		
		<img ng-show="isCaptureLoading" src="/images/ajax-loader.gif" />
		<ng-camera class="img img-rounded" ng-show="showCam" type="photo"
			enabled="showCam" width="160" height="120" ng-model="media"
			capture="callback(media)" capture-message="Go!"></ng-camera>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button ng-show="!showCam && !showUpload && hasGetUserMedia()"
			class="btn btn-primary" ng-click="enableCam()">
			<i class="fa fa-camera"></i> Take Picture
		</button>
		<span ng-show="!showCam && !showUpload"
			class="btn btn-default btn-file"> <i class="fa fa-camera"></i>
			Upload <input file-model="fileForUpload" type="file"
			accept="image/*;capture=camera" capture="camera">
		</span>
	</div>
</div>