 <div class="modal-header">
     <h3 class="modal-title"><i class="fa fa-bolt"></i> Special Event</h3>
 </div>
 <div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			Player:
		</div>
	</div>
 	<div class="row">
 		<div class="col-xs-12">
		<div class="btn-group" role="group" aria-label="..." ng-modal="event.player"> 
		  <button type="button" class="btn btn-default" 
		  	ng-repeat="player in players"
		  	ng-model="event.player"
		  	btn-radio="player"
		  	uncheckable>{{player}}</button>
		</div>
 		</div>
 	</div>
	<div class="row">
		<div class="col-xs-12">
			Event:
		</div>
	</div>
	<div ng-repeat="eventGroup in specialEvents.eventGroups">
		<div class="row">
			<div class="col-xs-12">
				{{eventGroup.name}}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group">
	        		<label ng-repeat="specialEvent in specialEvents.groupEventMap[eventGroup.name]" class="btn {{eventGroup.buttonClass}}" ng-model="event.event" btn-radio="'{{specialEvent.name}}'"><i class="{{specialEvent.iconClass}}"></i> {{specialEvent.name}}</label>
	        		
	    		</div>
			</div>	
		</div>
	</div>


 </div>
 <div class="modal-footer">
 	 <div class="pull-left">
 	 	{{specialEvents.eventMap[event.event].description}}
 	 </div>
     <button ng-disabled="!event.player || !event.event" class="btn btn-primary" ng-click="add()">Add</button>
     <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>