<div class="row">
	<div class="col-xs-1">
		<span class="pull-right">
			{{ranking.statistics[name] * factor | number:precision}}<span ng-show="percentage">%</span>
		</span>
	</div>
	<div class="col-xs-1">
		<span class="discreet pull-right" ng-show="ranking.dayEndStatistics"> 
			{{ranking.dayEndStatistics[name] * factor | number:precision}}<span ng-show="percentage">%</span>
		</span>
	</div>
	<div class="col-xs-1">
		<span class="discreet pull-right" ng-show="ranking.eternalStatistics"> 
			{{ranking.eternalStatistics[name] * factor | number:precision}<span ng-show="percentage">%</span>
		</span>
	</div>
</div>