<!doctype html>
<html lang="en" ng-app="Extraleague">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Admin</title>

    <link rel="stylesheet" type="text/css" href="../components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../dist/main.css">
    <link rel="stylesheet" type="text/css" href="/rest/league/style">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script src="../components/angular/angular.js"></script>
    <script src="../components/angular-route/angular-route.js"></script>
    <script src="../components/angular-resource/angular-resource.js"></script>
    <script src="../components/angular-touch/angular-touch.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="UserController">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="btn btn-default btn-nav" ng-if="backlink" ng-click="backAction()"><span class="glyphicon glyphicon-arrow-left"></span></button>
          <a class="navbar-brand" href="#">Extraleague</a>
          <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div collapse="navCollapsed" data-extraleague-navbar class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li data-match-route="currentUser"><a href="/">Home</a></li>
            <li data-match-route="currentUser"><a href="{{playerUser.logoutUrl}}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
	  <div ng-view></div>
    </div><!-- /.container -->


    <script src="../js/players.js"></script>
    <script src="js/user.js"></script>
    <script src="../components/jquery/jquery.js"></script>
    <script src="../components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
