<h4>User {{playerUser.player}}</h4>



 <form name="userForm">
  <div class="form-group">
    <label for="playerInput">Player</label>
    <input type="text" required ng-minlength="2" ng-maxlength="4" class="form-control" id="playerInput" placeholder="Player Shortname" ng-model="playerUser.player">
  </div>
  <div class="form-group">
    <label for="emailInput">Email</label>
    <input type="email" required class="form-control" id="emailInput" placeholder="Email" ng-model="playerUser.email">
  </div>
  <div class="form-group">
    <label for="imageUrlInput">Image URL</label>
    <input type="text" required class="form-control" id="imageUrlInput" ng-model="playerUser.imageUrl">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="playerUser.emailNotification"> Email Notification
    </label>
  </div>
  <button ng-disabled="!userForm.$valid" type="submit" class="btn btn-primary" ng-click="saveUser()">Save</button>

</form>



<span ng-show="isPlayerLoading"><img src="../images/ajax-loader.gif" /> Loading user...</span>
<span ng-show="isPlayerSaving"><img src="../images/ajax-loader.gif" /> Saving user...</span>


