<h4>User {{playerUser.player}}</h4>



 <form name="userForm">
  <div class="form-group">
    <label for="playerInput">Player</label>
    <input ng-disabled="true" type="text" required ng-minlength="2" ng-maxlength="4" class="form-control" id="playerInput" placeholder="Player Shortname" ng-model="playerUser.player">
  </div>
  <div class="form-group">
    <label for="emailInput">Notification Email</label>
    <input type="email" class="form-control" id="emailInput" placeholder="Notificaton email. Leave empty to ignore" ng-model="playerUser.email">
  </div>
  <div class="form-group">
    <label for="pushBulletApiKey"><a href="https://www.pushbullet.com/" target="_blank">Pushbullet</a> Api Key</label>
    <input type="text"  ng-minlength="45" ng-maxlength="45" class="form-control" id="pushBulletApiKey" placeholder="Api Key" ng-model="playerUser.pushBulletApiKey">
  </div>
  <div class="form-group">
    <label for="emailInput">Claiming Gmail Account</label>
    <input ng-disabled="true" type="email" class="form-control" id="emailInput" placeholder="Email" ng-model="playerUser.appUserEmail">
  </div>
  <div class="form-group">
    <label for="imageUrlInput">Image URL</label>
    <input type="text" class="form-control" id="imageUrlInput" ng-model="playerUser.imageUrl">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="playerUser.emailNotification"> Send me summary when game finished
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="playerUser.meetingPointNotification"> Notify me if someone joins MeetingPoint
    </label>
  </div>
  <button ng-disabled="!userForm.$valid || isPlayerSaving" type="submit" class="btn btn-primary" ng-click="savePlayer()">Save</button>

</form>



<span ng-show="isPlayerLoading"><img src="../images/ajax-loader.gif" /> Loading user...</span>
<span ng-show="isPlayerSaving"><img src="../images/ajax-loader.gif" /> Saving user...</span>


