body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding-top: 50px;
  overflow-x: hidden;
}
.even {
  background-color: #efefef;
  margin-bottom: 1px;
}
.odd {
  background-color: #dedede;
  margin-bottom: 1px;
}
.player {
  max-width: 48px;
}
.redTeam {
	color: red;
}
.blueTeam {
	color: blue;
}
.redTeamBorder {
	border: 2px solid red;
}
.blueTeamBorder {
	border: 2px solid blue;
}
legend { 
	margin:3px; 
	text-align:center; 
	width:100%;
	border-bottom: none;
}
