body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding-top: 50px;
  overflow-x: hidden;
}

.btn.btn-default.btn-nav {
  position: relative;
  float: left;
  padding: 5px 15px;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #333;
  border-radius: 4px;
  height: 34px;
  color: #fff;
}

@media (min-width: 768px) {
  .btn.btn-default.btn-nav {
    margin-left: 0;
  }
}
.navbar-nav a { 
	cursor: pointer; 
	cursor: hand; 
}

.even {
  background-color: #efefef;
  margin-bottom: 1px;
}
.odd {
  background-color: #dedede;
  margin-bottom: 1px;
}
.player {
  max-width: 48px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.playerRow .playerImage {
	max-width: 48px;
}

.playerRow .inline-row {
  display: inline-block;
}

.playerImage {
  margin-left: auto;
  margin-right: auto;
}

.redTeam {
	color: #D9534F;
}
.blueTeam {
	color: #428BCA;
}
.btn-redTeam {
	background-color: #D9534F;
  border-color: #D43F3A;
}
.btn-redTeam:hover {
  background-color: #D2322D;
  border-color: #AC2925;
}
.btn-blueTeam {
  background-color: #428BCA;
  border-color: #357EBD;
}
.btn-blueTeam:hover {
  background-color: #3276B1;
  border-color: #285E8E;
}
legend { 
	margin:3px; 
	text-align:center; 
	width:100%;
	border-bottom: none;
}
.stressed {
	font-weight: bolder;
}
.won {
	color: green;
}
.lost {
	color: red;
}
.Bronze:before {
	color: rgb(205, 127, 50);
	content: "\25A0";
    margin-right: 6px;
}
.Silver:before {
	color: silver;
	content: "\25A0";
    margin-right: 6px;

}
.Gold:before {
	color: gold;
	content: "\25A0";
    margin-right: 6px;
}
.Ranking:before {
	color: white;
	content: "\25A0";
    margin-right: 6px;
}
.Honorary {
	background-color: green;
}
.Shamelet {
	background-color: red;
}

.circularProgress{
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: block;
  margin: auto;
}


.caption {
    text-align:center;
}

.playerRow {
	white-space: nowrap;
	display: -webkit-box;
	margin-top: 15px;
	margin-bottom: 15px;
}
.playerRow img {
	width: 40px;
}
.discreet {
	color: #BBB;
}

.x.axis path {
  stroke-width: 1px;
}

.text-small {
  font-size: 75%;
}

.charttip {
	padding: 3px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	text-anchor: middle;
	text-align: center;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {

}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}
.circle {
  fill: white;
  stroke: steelblue;
  stroke-width: 1px;
}
