<h2>About Extraleague</h2>
<div>
	Extraleague is developed by Daniel Eichhorn and available under the MIT licence. Would you like to have 
	Extraleague at your company event? Or have a dedicated League for your office? Or place your bar's table
	in the national extraleague listing?
</div>
<BR/>
<div>
	<button class="btn btn-danger" ng-click="navigateTo('getExtraleague')">Get Your Extralague Instance</button>
</div>

<h2>Commit history</h2>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Commit message</th>
      </tr>
    </thead>
    <tbody>
     <tr ng-repeat="c in commits">
       <td><a href="{{c.author.html_url}}">{{c.author.login}}</a></td>
       <td><a href="{{c.html_url}}">{{c.commit.message}}</a></td>
     </tr>
    <tbody>
  </table>
</div>
