<h3>Challengers ({{table}})</h3>
<form name="playerForm" novalidate>
	<div class="row">
			<div class="col-md-12 form-group">
				<label for="player">Challengers</label>
				<input required type="text" class="form-control" id="player"
					split-players players-expected="2" ng-model="challengerTeam.challengers" placeholder="Short name of two challengers">
				<div ng-show="playerForm.$error.playerunknown">
					This player is unknown. Please <a href="/#/registration">Register</a>
				</div>	
				<div ng-show="playerForm.$error.playersexpected">
					Please enter two players
				</div>			
			</div>
	</div>
	<div class="row">
			<div class="col-md-12 form-group">
				<button ng-disabled="!playerForm.$valid" type="submit"
					class="btn btn-primary" ng-click="addChallengers()">Challenge Winners</button>
					<div ng-show="isAddingChallengers">
						<img src="images/ajax-loader.gif" /> Adding player...
					</div>
			</div>
	</div>
</form>
<div ng-show="winnerTeam.winners">
	<h3>Last Winners</h3>
	<div class="panel panel-default">
	   <div class="panel-heading">

		  		{{winnerTeam.table}} 
		  		| {{winnerTeam.createdDate | date:'dd. MMM. yyyy HH:mm:ss'}}
		  		| {{winnerTeam.gameMode}}
		  		
	   </div>
	   <div class="panel-body">
		  <div class="playerRow">
			  	<div ng-repeat="player in winnerTeam.winners" player="player"></div>
		  </div>
	   </div>
	</div>
</div>
<div ng-show="challengers.length > 0">
	<h3>Challengers</h3>
	
	<div class="panel panel-default" ng-repeat="challenger in challengers | orderBy:'createdDate'">


	  <div class="panel-heading">
	  		{{challenger.table}} | {{challenger.createdDate | date:'dd. MMM. yyyy HH:mm:ss'}}
	  </div>
	   <div class="panel-body">
		  <div class="playerRow">
			  	<div ng-repeat="player in challenger.challengers" player="player"></div>
		  </div>
		  <button class="btn btn-primary btn-sm" ng-click="startChallenge(challenger)">Start Challenge</button>
		  <button ng-hide="isDeleteButtonVisible" class="btn btn-danger btn-sm" ng-click="isDeleteButtonVisible = true">Remove Team</button>
		  <button ng-show="isDeleteButtonVisible" class="btn btn-danger btn-sm" ng-click="deleteChallenger(challenger)">Really?</button>
	   </div>
	</div>
</div>