<h3>Current/ Next Games</h3>
<div ng-show="games.length == 0 && !isGamesLoading">
  Currently there are no open games...
</div>
<div ng-show="games.length > 0">
	<div class="alert" ng-class="{'alert-success': $index == 0, 'alert-info': $index > 0}"ng-repeat="game in games">
	  <div class="pull-right text-center" ng-show="game.estimatedRemainingMillis">
		 <div class="caption">
			 <div><small>ETA</small></div>
			 <div>
			  	<small>{{getSumEstimatedRemainingMillis($index) / (60 * 1000) | number:0}}m 
			  	{{((getSumEstimatedRemainingMillis($index) / 1000) % 60) | number:0}}s</small>
			 </div>
		 </div>
		 <div style="display: block; margin: auto;" circular-progress ng-model="game.gameProgress" width="50" height="50"></div>
		 <div ng-show="game.currentMatch">{{game.currentMatch.teamAScore}}:{{game.currentMatch.teamBScore}}</div>
	  </div>
	  <div class="label label-info">
	  		{{game.table}}
	  </div>
	  <div>
	  		<small>{{game.startDate | date:'dd. MMM. yyyy HH:mm:ss'}}</small>
	  </div>
	  <div class="playerRow">
		  	<div ng-repeat="player in game.players" player="player"></div>
	  </div>

	  <div>
	  	  <div>
		      <button ng-hide="game.endDate" class="btn btn-primary" ng-click="continueGame(game)">Continue ({{game.numberOfCompletedGames + 1}}/4)</button>

			  <button ng-hide="game.endDate || isDeleteButtonVisible" class="btn btn-danger" ng-click="isDeleteButtonVisible = true">Delete</button>
			  <button ng-show="isDeleteButtonVisible" class="btn btn-danger" ng-click="deleteGame(game)">Really?</button>
	  	  </div>
	  </div>
	</div>
</div>
<div ng-show="isGamesLoading">
	<img src="images/ajax-loader.gif"/> Loading previous games
</div>
