<h2>Open Games</h2>
<div ng-show="games.length == 0 && !isGamesLoading">
  Currently there are no open games...
</div>
<div ng-show="games.length > 0">
	<div class="alert alert-success" ng-repeat="game in games  | orderBy:'-startDate'">
	  <span ng-repeat="player in game.players">{{player}} </span>
	  @{{game.table}}
	  <div class="pull-right">
		  <button ng-hide="game.endDate" class="btn btn-primary" ng-click="continueGame(game)">Continue ({{game.numberOfCompletedGames + 1}}/4)</button>
		  <button ng-hide="game.endDate || isDeleteButtonVisible" class="btn btn-danger" ng-click="isDeleteButtonVisible = true">Delete</button>
		  <button ng-show="isDeleteButtonVisible" class="btn btn-danger" ng-click="deleteGame(game)">Really?</button>
	  </div>
	  <div>
	  	{{game.startDate | date:'short'}}
	  		<span ng-show="game.endDate"> - {{game.endDate | date:'short'}}</span>
	  </div>
	  <div ng-show="game.estimatedTimeOfArrival">
	  	ETA: {{game.estimatedTimeOfArrival | date:'short'}} ({{game.gameProgress * 100 | number:0}}%)
	  </div>
	</div>
</div>
<div ng-show="isGamesLoading">
	<img src="images/ajax-loader.gif"/> Loading previous games
</div>
