<br />
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title text-center">
					<button ng-class="{ disabled: openGames.currentMatchIndex == 0 }"
						ng-disabled="openGames.isMatchSaving"
						class="btn btn-default text-small pull-left"
						ng-click="moveMatchIndexBy(-1)">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</button>
					<span style="line-height: 31px">Match
						{{openGames.currentMatchIndex + 1}} /
						{{openGames.currentGame.maxMatches}}</span> <span
						ng-show="openGames.isMatchSaving"><img
						src="images/ajax-loader.gif" /></span>
					<button
						ng-show="openGames.currentMatchIndex < openGames.currentMaxMatches - 1"
						ng-disabled="openGames.isMatchSaving"
						class="btn btn-default text-small pull-right"
						ng-click="moveMatchIndexBy(1)">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</button>
					<button
						ng-show="openGames.currentMatchIndex > openGames.currentMaxMatches - 2"
						ng-disabled="openGames.isMatchSaving"
						class="btn btn-default text-small pull-right"
						ng-click="showSummary()">
						<span class="glyphicon glyphicon-stats"></span>
					</button>
				</h3>
				<div class="clear-fix"></div>
			</div>
			<div class="panel-body">

				<div class="row text-center">
					<div class="col-xs-6">
						<button ng-disabled="openGames.isMatchSaving"
							class="btn btn-lg btn-primary btn-block text-small"
							ng-click="addPlayerScore(openGames.currentMatch.teamA[0])">
							<span player="openGames.currentMatch.teamA[0]" />
						</button>
					</div>
					<div class="col-xs-6">
						<button ng-disabled="openGames.isMatchSaving"
							class="btn btn-lg btn-primary btn-block text-small"
							ng-click="addPlayerScore(openGames.currentMatch.teamA[1])">
							<span player="openGames.currentMatch.teamA[1]" />
						</button>
					</div>
				</div>
				<BR />
				<div class="row text-center text-vcenter">
					<div class="col-xs-4 redTeam text-small">
						<div>
							Red: {{(1 - openGames.currentMatch.winProbabilityTeamA) * 100 |
							number:2}}% <BR />
						</div>
						<div>{{openGames.currentMatch.winPointsTeamB}} win points</div>
					</div>
					<div class="col-xs-4  text-center text-large">
						<span class="redTeam">
							{{openGames.currentMatch.teamBScore}} </span> : <span class="blueTeam">
							{{openGames.currentMatch.teamAScore}} </span>
					</div>
					<div class="col-xs-4 blueTeam text-small">
						<div>
							Blue: {{(openGames.currentMatch.winProbabilityTeamA) * 100 |
							number:2}}% <BR />
						</div>
						<div>{{openGames.currentMatch.winPointsTeamA}} win points</div>
					</div>
				</div>
				</BR>
				<div class="row text-center">
					<div class="col-xs-12"></div>
					<div class="col-xs-6">
						<button ng-disabled="openGames.isMatchSaving"
							class="btn btn-lg btn-danger btn-block text-small"
							ng-click="addPlayerScore(openGames.currentMatch.teamB[1])">
							<span player="openGames.currentMatch.teamB[1]" />
						</button>
					</div>
					<div class="col-xs-6">
						<button ng-disabled="openGames.isMatchSaving"
							class="btn btn-lg btn-danger btn-block text-small"
							ng-click="addPlayerScore(openGames.currentMatch.teamB[0])">
							<span player="openGames.currentMatch.teamB[0]" />
						</button>
					</div>
				</div>

			</div>
			<div class="panel-footer">
				<button ng-disabled="openGames.isMatchSaving"
					class="btn btn-lg btn-default btn-block text-small"
					ng-click="decreaseScore()">
					<i class="fa fa-undo"></i> Undo
				</button>
			</div>
		</div>
	</div>
</div>

