 <div class="starter-template text-center">
   <h5><small>Match {{matchIndex + 1}}/4. Forecast: Team A wins {{match.winProbabilityTeamA | number:2}}%</small></h5>
 </div>

<div class="row">
	<div class="col-xs-12">
		<button ng-disabled="matchIsSaving" class="btn btn-lg btn-default btn-block" ng-click="decreaseScore()">
			<span class="glyphicon glyphicon-minus-sign"></span>
		</button>
	</div>
	<div class="col-xs-6">
	</div>

</div>
<BR/>
<div class="row text-center">
	<div class="col-xs-6">
		<button ng-disabled="matchIsSaving" class="btn btn-lg btn-primary btn-block text-small btn-blueTeam" ng-click="increaseScoreTeamA(match.teamA[0])">
				<span class="glyphicon glyphicon-plus-sign"></span>

				<span player="match.teamA[0]"/> 
		</button>
	</div>
	<div class="col-xs-6">
		<button ng-disabled="matchIsSaving" class="btn btn-lg btn-primary btn-block text-small btn-blueTeam" ng-click="increaseScoreTeamA(match.teamA[1])">
			<span class="glyphicon glyphicon-plus-sign"></span>
			<span player="match.teamA[1]"/> 
		</button>
	</div>
</div>
<div class="row text-center">
	<h1>
		<span class="redTeam">{{match.teamBScore}}</span> <img src="images/table.jpg"/> <span class="blueTeam">{{match.teamAScore}}</span>
	</h1>
</div>	
<div class="row text-center">
	<div class="col-xs-12"></div>
		<div class="col-xs-6">
		<button ng-disabled="matchIsSaving" class="btn btn-lg btn-primary btn-block text-small btn-redTeam" ng-click="increaseScoreTeamB(match.teamB[1])">
			<span class="glyphicon glyphicon-plus-sign"></span>
			<span player="match.teamB[1]"/> 
		</button>
	</div>
	<div class="col-xs-6">
		<button ng-disabled="matchIsSaving" class="btn btn-lg btn-primary btn-block text-small btn-redTeam" ng-click="increaseScoreTeamB(match.teamB[0])">
			<span class="glyphicon glyphicon-plus-sign"></span>
			<span player="match.teamB[0]"/> 
		</button>
	</div>
</div>
<BR/>
<span ng-show="matchIsSaving"><img src="images/ajax-loader.gif" /></span>
