<h3>Head To Head</h3>
<div class="row">
	<div class="col-xs-6">
		<input type="text" class="form-control" id="playerA" name="playerA"
					ng-model="players.playerA" 
					playerexists 
					placeholder="Shortname Player A">
	</div>
	<div class="col-xs-6">
		<input type="text" class="form-control" id="playerA" name="playerA"
					ng-model="players.playerB"
					playerexists 
					placeholder="Shortname Player B">		
	</div>
</div>
<BR/>
<div class="row">
	<div class="col-xs-6">
		<div player="players.playerA"></div>
	</div>
	<div class="col-xs-6">
		<div player="players.playerB"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div ng-show="isPlayerALoading">
  			<img src="images/ajax-loader.gif" /> 
		</div>
	</div>
	<div class="col-md-6">
		<div ng-show="isPlayerBLoading">
  			<img src="images/ajax-loader.gif" /> 
		</div>		
	</div>
</div>

<div class="well">
<div compare="eloRanking" 
     label="Ranking"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"
	 inverse="true"></div>
	 
<div compare="eloValue" 
     label="Elo Points"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"></div>
	 
<div compare="successRate" 
     label="Success Rate"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"
	 percentage="true"></div>
	 
<div compare="currentShapeRate" 
     label="Shape"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"
	 percentage="true"></div>
	 
<div compare="averageGoalsPerMatch" 
     label="Goals per match"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"
	 precision="2"></div>
	 
<div compare="achievementPoints" 
     label="RSPCT"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"></div>
	 
<div compare="goalPlusMinus" 
     label="Goal Balance"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"
	 precision="2"
	 offset="7"></div>
	 
<div compare="maxGoalsPerGame" 
     label="Max Goals Per Game"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"></div>
	 
<div compare="bestSlam" 
     label="Max. victories in a row"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"></div>
	 
<div compare="offensivePositionRate" 
     label="Rate of victories in offensive position"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"
	 percentage="true"></div>
	 
<div compare="defensivePositionRate" 
     label="Rate of victories in defensive position"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"
	 percentage="true"></div>
	 
<div compare="offensiveGoalsRate" 
     label="Offensive Goals"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"
	 percentage="true"></div>
	 
<div compare="tightlyWonRate" 
     label="Tightly won matches"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"
	 percentage="true"></div>
	 
<div compare="tightlyLostRate" 
     label="Tightly lost matches"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"
	 percentage="true"
	 inverse="true"></div>
	 
<div compare="averageSecondsPerMatch" 
     label="Average match length [s]"
	 player-a-ranking="players.playerARanking" 
	 player-b-ranking="players.playerBRanking"
	 inverse="true"></div>
</div>




<div ng-show="isPlayerLoading">
  <img src="images/ajax-loader.gif" /> Loading player data...
</div>
