<h3>Welcome</h3>
<div class="row float-right">
	<div class="col-xs-3">
		Support Extraleague!
	</div>
	<div class="col-xs-3">
		<a href="http://flattr.com/thing/3327304/squix78extraleague-on-GitHub" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Support Extraleague by Flattr" border="0" /></a>
	</div>
	<div class="col-xs-3">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="HFRPPPAHXLHF2">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>
</div>
Welcome to Extraleague. In order to start playing please register 
here:
<div>
	<button class="btn btn-primary" ng-click="navigateTo('registration')">Player Registration</button>
</div>
<BR/>
<div>
	Extraleague is available as dedicated configurable instance
	for your own event, office or location.
</div>
<div>
	<button class="btn btn-primary" ng-click="navigateTo('getExtraleague')">Get Your Own Extralague</button>
</div>
<BR/>

<h3>Highlights</h3>

	<div class="panel panel-default" ng-repeat="mutation in mutations | orderBy:'-createdDate' | limitTo: 15">


	  <div class="panel-heading">
			<span class="xsPlayer" ng-repeat="player in mutation.players" playerpic="player"> &nbsp;</span>
			<span ng-show="mutation.players.length === 1">{{mutation.players[0]}}</span>
	  	    <div class="pull-right">
		  	    {{mutation.createdDate | date:'dd-MM-yyyy'}}
		       	{{mutation.createdDate | date:'shortTime'}}
	  	    </div>


	  </div>
	   <div class="panel-body">
	       	<div ng-repeat="description in mutation.descriptions">
		    	<div highlight-badges ng-model="description"></div>
	       	</div>
	   </div>
	</div>


<div ng-show="isMutationsLoading">
	<img src="images/ajax-loader.gif"/> Loading highlights
</div>
<div ng-show="mutations.length == 0 && !isMutationsLoading">
  Boring! There are no highlights...
</div>
