<h3>Welcome</h3>
Welcome to Extraleague. In order to start playing please register 
here:
<div>
	<button class="btn btn-primary" ng-click="navigateTo('registration')">Player Registration</button>
</div>
<BR/>
<div>
	Extraleague is available as dedicated configurable instance
	for your own event, office or location.
</div>
<div>
	<button class="btn btn-primary" ng-click="navigateTo('getExtraleague')">Get Your Own Extralague</button>
</div>

<h3>Highlights</h3>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Player</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
     <tr ng-repeat="mutation in mutations | orderBy:'-createdDate' | limitTo: 15">
       <td><div player="mutation.player"></div></td>
       <td>
	       <div>
	       	<small>
	       		{{mutation.createdDate | date:'dd-MM-yyyy'}}
	       		{{mutation.createdDate | date:'shortTime'}}
	       	</small>
	       	<div ng-repeat="description in mutation.descriptions">
		    	<div highlight-badges ng-model="description"></div>
	       	</div>
	    </td>
     </tr>
    <tbody>
  </table>
</div>
<div ng-show="isMutationsLoading">
	<img src="images/ajax-loader.gif"/> Loading highlights
</div>
<div ng-show="mutations.length == 0 && !isMutationsLoading">
  Boring! There are no highlights...
</div>
