<h3>Welcome</h3>
Welcome to Extraleague. In order to start playing please register 
here:
<div>
	<button class="btn btn-primary" ng-click="navigateTo('registration')">Player Registration</button>
</div>
<BR/>
<div>
	Extraleague is available as dedicated configurable instance
	for your own event, office or location.
</div>
<div>
	<button class="btn btn-primary" ng-click="navigateTo('getExtraleague')">Get Your Own Extralague</button>
</div>

<h3>Highlights</h3>
<div class="row">
	<div class="col-xs-2 col-md-1">
		Players
	</div>
	<div class="col-xs-10 col-md-11">
		Description
	</div>
</div>
<hr/>
<div ng-repeat="mutation in mutations | orderBy:'-createdDate' | limitTo: 15">
	<div class="well">
	<div class="row">
			<div class="col-xs-2 col-md-1">
				<div ng-show="mutation.players.length === 1">
		       		<div player="mutation.players[0]"></div>	
				</div>
				<div ng-show="mutation.players.length === 4" class="row">
					<div class="col-xs-6">
						<div class="xsPlayer" player="mutation.players[0]"></div>
					</div>
					<div class="col-xs-6">
						<div class="xsPlayer" player="mutation.players[1]"></div>
					</div>
				</div>
				<div ng-show="mutation.players.length === 4" class="row">
					<div class="col-xs-6">
						<div class="xsPlayer" player="mutation.players[2]"></div>
					</div>
					<div class="col-xs-6">
						<div class="xsPlayer" player="mutation.players[3]"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-10 col-md-11">
				    <small>
			       		{{mutation.createdDate | date:'dd-MM-yyyy'}}
			       		{{mutation.createdDate | date:'shortTime'}}
			       	</small>
			       	<div ng-repeat="description in mutation.descriptions">
				    	<div highlight-badges ng-model="description"></div>
			       	</div>
			</div>
		</div>
	</div>

</div>

<div ng-show="isMutationsLoading">
	<img src="images/ajax-loader.gif"/> Loading highlights
</div>
<div ng-show="mutations.length == 0 && !isMutationsLoading">
  Boring! There are no highlights...
</div>
