<h2>Meeting Point</h2>
<div class="row">
	<form name="playerForm">
		<div class="col-md-2 form-group">
			<input required type="text" class="form-control" id="player"
				ng-model="player.player" placeholder="Short sign">
		</div>
		<div class="col-md-2 form-group">
			<select required class="form-control" ng-model="player.table"
				ng-options="table.name as table.name for table in tables">
				<option value="">-- choose table --</option>
			</select>
		</div>
		<div class="col-md-2 form-group">
			<select required class="form-control" ng-model="availableNextMin"
				ng-options="available.timeDiff as available.label for available in availableTimes">
				<option value="">-- Game starts within --</option>
			</select>
		</div>
		<div class="col-md-2 form-group">
			<button ng-disabled="!playerForm.$valid" type="submit"
				class="btn btn-primary" ng-click="addPlayer()">Add Player</button>
			<div ng-show="isAddingPlayer">
				<img src="images/ajax-loader.gif" /> Adding player...
			</div>
		</div>
	</form>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="border" ng-class="{'border-enabled': player.enabled}"
			ng-repeat="player in players | filter: filterOldEntries | orderBy:availableUntil"
			ng-click="togglePlayer(player)">
			<div class="playerCol smallPlayer" player="player.player"></div>
			<div class="playerCol">
				<div>Available until {{player.availableUntil | date:'shortTime'
					}}</div>
				<div>Table: {{player.table }}</div>
				<button class="btn btn-danger btn-xs" ng-click="removePlayer(player)">Remove</button>
			</div>
		</div>
	</div>
</div>
<BR/>
<div class="row">
	<div class="col-md-12 form-group">
		<div class=" btn-group">
			<label ng-repeat="table in tables" class="btn btn-default btn-xs"
				ng-model="game.table" btn-radio="table.name">{{table.name}}</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 form-group">
		<div class=" btn-group">
			<label ng-repeat="mode in modes" class="btn btn-default btn-xs"
				ng-model="game.gameMode" btn-radio="mode.name">{{mode.label}}</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button ng-disabled="!isGameComplete()"
			class="btn btn-primary" ng-click="startGame()">Start Game</button>
		{{countEnabledPlayers()}} Player(s) selected: <span
			ng-repeat="player in getEnabledPlayers()"> {{player.player}}</span>
	</div>
</div>
<BR/>
