
<div class="row">
	<div class="col-md-12">
		<div>
			<h3>New Game</h3>
		</div>
		<form name="playerForm">
			<div class="col-md-7 form-group">
				<div>
					<label>Table</label>
				</div>
				<div class="btn-group" id="tableInput">
					<label ng-repeat="table in tables" class="btn btn-default btn-xs" ng-model="game.table" 
					btn-radio="table.name">{{table.name}}</label>
				</div>
				<div ng-show="isTablesLoading"><img src="images/ajax-loader.gif"/></div>
			</div>
			<div class="col-md-7 form-group">
				<div>
					<label>Game Mode</label>
				</div>
				<div class=" btn-group" >
					<label id="modeInput" ng-repeat="mode in modes" class="btn btn-default btn-xs" ng-model="game.gameMode" 
					btn-radio="mode.name">{{mode.label}}</label>
				</div>
				<div ng-show="isModesLoading"><img src="images/ajax-loader.gif"/></div>
			</div>

			<div class="col-md-7 form-group">
				<label for="player">Players</label>
				<input type="text" class="form-control" id="player"
					ng-model="player"
					placeholder="Shortsign of 4 players separated by space, e.g. dei cw cm yw">
			</div>

		</form>
	</div>
</div>
<div class="row" ng-show="game.players.length > 0">
	<div class="col-md-12">
		 <div class="playerRow">
		  	<div ng-repeat="player in game.players" player="player"></div>
		 </div>
	</div>
</div>
<BR/>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<button ng-disabled="!isGameComplete() || isGameStarting" type="submit"
				class="btn btn-primary" ng-click="startGame()">Start Game</button>
			<div ng-show="isGameStarting">
				<img src="images/ajax-loader.gif" /> Please wait. Starting game...
			</div>
		</div>
	</div>
</div>
<div class="row">

	<div class="col-md-12" ng-include="'partials/currentlyOpenGames.html'"
		ng-controller="OpenGamesController"></div>
</div>
