<div>
	<h3>New Game</h3>
</div>
<div class="row">
	<form name="playerForm">

			<div class="col-md-7 form-group">
				<div>
					<label>Table</label>
				</div>
				<div class="btn-group" id="tableInput">
					<label ng-repeat="table in tables" class="btn btn-default btn-xs" ng-model="game.table" 
					btn-radio="table.name">{{table.name}}</label>
				</div>
				<div ng-show="isTablesLoading"><img src="images/ajax-loader.gif"/></div>
			</div>
			<div class="col-md-7 form-group">
				<div>
					<label>Game Mode</label>
				</div>
				<div class=" btn-group" >
					<label id="modeInput" ng-repeat="mode in modes" class="btn btn-default btn-xs" ng-model="game.gameMode" 
					btn-radio="mode.name">{{mode.label}}</label>
				</div>
				<div ng-show="isModesLoading"><img src="images/ajax-loader.gif"/></div>
			</div>

			<div class="col-md-7 form-group">
				<label for="player">Players</label>
				<input type="text" class="form-control" id="player" name="player"
					ng-model="game.players" split-players players-expected="4"
					placeholder="Shortsign of 4 players separated by space, e.g. dei cw cm yw">
				<span ng-show="playerForm.$error.playerunknown">This player is unknown. Please <a href="/#/registration">Register</a></span>
				<span ng-show="playerForm.$error.playersexpected">Enter 4 players</a></span>

			</div>

    </form>
</div>
<div class="row" ng-show="game.players.length > 0">
	<div class="col-md-12">
		 <div class="playerRow">
		  	<div ng-repeat="player in game.players" player="player"></div>
		  	<div class="text-small" ng-show="isGameComplete()">
				<div ng-repeat="match in preview.matches">
				    <span>{{$index + 1}}</span>
					<span ng-bind="match.teamA[0]"></span>
					<span ng-bind="match.teamA[1]"></span> -
					<span ng-bind="match.teamB[0]"></span>
					<span ng-bind="match.teamB[1]"></span>
				</div>
		  	</div>
		 </div>
	</div>
</div>
<div class="row text-small">
	<div class="col-md-12">

	</div>
</div>
<BR/>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<button ng-disabled="!isGameComplete() || isGameStarting || !playerForm.$valid" type="submit"
				class="btn btn-primary" ng-click="startGame()">Start Game</button>
			<div ng-show="isGameStarting">
				<img src="images/ajax-loader.gif" /> Please wait. Starting game...
			</div>
		</div>
	</div>
</div>
<div class="row">

	<div class="col-md-12" ng-include="'partials/openGames.html'"
		ng-controller="OpenGamesController"></div>
</div>
