
<h4></h4>
<div ng-hide="isPlayerLoading">
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Player</td>
          <td>
            <div class="pull-left" player="player"></div>
          </td>
        </tr>
        <tr>
          <td>Rank:</td>
          <td>
          	{{playerResult.statistics.ranking}}
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.ranking}})</span>
          </td>
        </tr>
        <tr>
          <td>RWE Points</td>
          <td>
          	{{playerResult.statistics.rankingPoints}}
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.rankingPoints}})</span>
          </td>
        </tr>
        <tr>
          <td>RWE Ranking</td>
          <td>
          	{{playerResult.statistics.dynamicRanking}}
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.dynamicRanking}})</span>
          </td>
        </tr>
        <tr>
          <td>Elo Value</td>
          <td>
          	{{playerResult.statistics.eloValue}}
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.eloValue}})</span>
          </td>
        </tr>
        <tr>
          <td>Elo Ranking</td>
          <td>
          	{{playerResult.statistics.eloRanking}}
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.eloRanking}})</span>
          </td>
        </tr>
        <tr>
          <td>Badges:</td>
          <td>
            	<div badges ng-model="playerResult.statistics.badges" badge-map="badgeMap"></div>
          </td>
        </tr>
        <tr>
          <td>Success:</td>
          <td>
          	{{playerResult.statistics.successRate * 100 | number:2}}%
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.successRate * 100 | number:2}}%)</span>	
          </td>
        </tr>
        <tr>
          <td>Shape:</td>
          <td>
          	{{playerResult.statistics.currentShapeRate * 100 | number:2}}%
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.currentShapeRate * 100 | number:2}}%)</span>
          </td>
        </tr>
        <tr>
          <td>Goals:</td>
          <td>
          	<span ng-show="playerResult.statistics.goalPlusMinus >= 0">+</span>{{playerResult.statistics.goalPlusMinus | number:2}}
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.goalPlusMinus | number:2}})</span>
          </td>
        </tr>
        <tr>
          <td>Goals per Match:</td>
          <td>
          	{{playerResult.statistics.averageGoalsPerMatch | number:2}}
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.averageGoalsPerMatch | number:2}})</span>
          </td>
        </tr>
        <tr>
          <td>Offensive:</td>
          <td>
          	 {{100 * playerResult.statistics.offensivePositionRate | number:2}}%
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.offensivePositionRate * 100 | number:2}}%)</span>
          </td>
        </tr>
        <tr>
          <td>Defensive:</td>
          <td>
          	 {{100 * playerResult.statistics.defensivePositionRate | number:2}}%
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.defensivePositionRate * 100 | number:2}}%)</span>
          </td>
        </tr>
        <tr>
          <td>Rate of 5:4 won matches:</td>
          <td>
          	{{100 * playerResult.statistics.tightlyWonRate | number:2}}%
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.tightlyWonRate * 100 | number:2}}%)</span>
          </td>
        </tr>
        <tr>
          <td>Rate of 4:5 lost matches:</td>
          <td>
          	{{100 * playerResult.statistics.tightlyLostRate | number:2}}%
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.tightlyLostRate * 100 | number:2}}%)</span>
          </td>
        </tr>
        <tr>
          <td>Average Match length:</td>
          <td>
          	{{playerResult.statistics.averageSecondsPerMatch | number}}s
          	<span class="discreet" ng-show="playerResult.dayEndStatistics"> ({{playerResult.dayEndStatistics.averageSecondsPerMatch}}s)</span>
          </td>
        </tr>
        <tr>
          <td>Optimal partner:</td>
          <td><a href="#/player/{{playerResult.statistics.bestPartner}}">{{playerResult.statistics.bestPartner}}</a> (won {{playerResult.statistics.bestPartnerRate * 100 |
            number:2}}%) 
           <button  class="btn btn-default btn-xs" ng-click="showPartners = !showPartners">
           	  <span ng-class="{'glyphicon-chevron-down': !showPartners, 'glyphicon-chevron-up': showPartners}" class="glyphicon"></span>
           </button>
           <div ng-show="showPartners" ng-repeat="playerCombo in playerResult.statistics.partners">
             {{playerCombo.combo}} ({{playerCombo.successRate * 100 | number:2}}%)
           </div>
           </td>
        </tr>
        <tr>
          <td>Worst partner:</td>
          <td><a href="#/player/{{playerResult.statistics.worstPartner}}">{{playerResult.statistics.worstPartner}}</a> (won {{playerResult.statistics.worstPartnerRate * 100 |
            number:2}}%)
          </td>
        </tr>
        <tr>
          <td>Best opponent:</td>
          <td><a href="#/player/{{playerResult.statistics.bestOpponent}}">{{playerResult.statistics.bestOpponent}}</a> (won {{playerResult.statistics.bestOpponentRate * 100 |
            number:2}}%)
           <button  class="btn btn-default btn-xs" ng-click="showOpponents = !showOpponents">
           	 <span ng-class="{'glyphicon-chevron-down': !showOpponents, 'glyphicon-chevron-up': showOpponents}" class="glyphicon"></span>
           </button>
           <div ng-show="showOpponents" ng-repeat="playerCombo in playerResult.statistics.opponents">
             {{playerCombo.combo}} ({{playerCombo.successRate * 100 | number:2}}%)
           </div>             
          </td>
        </tr>
        <tr>
          <td>Worst opponent:</td>
          <td><a href="#/player/{{playerResult.statistics.worstOpponent}}">{{playerResult.statistics.worstOpponent}}</a> (won {{playerResult.statistics.worstOpponentRate * 100 |
            number:2}}%)</td>
        </tr>
        <tr>
          <td>Played with:</td>
          <td>
          	{{playerResult.statistics.playedWith.join(', ')}} ({{playerResult.statistics.playedWith.length}})
          </td>
        </tr>
        <tr>
          <td>Never played with:</td>
          <td>
            {{playerResult.statistics.neverPlayedWith.join(', ')}} ({{playerResult.statistics.neverPlayedWith.length}})
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4>Last Matches</h4>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Team A</th>
          <th>Team B</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="match in playerResult.lastMatches | orderBy:predicate:reverse">
          <td ng-class="{won: match.teamAScore > match.teamBScore, lost: match.teamAScore < match.teamBScore}">
          		<span ng-class="{stressed: match.teamA[0] === player}">{{match.teamA[0]}}</span> - <span ng-class="{stressed: match.teamA[1] === player}">{{match.teamA[1]}}</span>
          </td>
          <td ng-class="{won: match.teamBScore > match.teamAScore, lost: match.teamBScore < match.teamAScore}">
          		<span ng-class="{stressed: match.teamB[0] === player}">{{match.teamB[0]}}</span> - <span ng-class="{stressed: match.teamB[1] === player}">{{match.teamB[1]}}</span>
          </td>
          <td>{{match.teamAScore}}:{{match.teamBScore}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4>Score Distribution</h4>
  <div histogram height="200" ng-model="playerResult.statistics.scoreHistogram"></div>
</div>


<div ng-show="isPlayerLoading">
  <img src="images/ajax-loader.gif" /> Loading player data...
</div>

<div ng-hide="isTimeseriesLoading">
<h4>Success Rate</h4>
<div linechart  height="200" y-axis-format-function="yAxisPercentFormatFunction()" ng-model="timeseries.successRateSeries"></div>


<h4>Goal Plus/Minus</h4>
<div linechart  height="200" ng-model="timeseries.goalRateSeries"></div>

<h4>Goals Per Match</h4>
<div linechart  height="200" ng-model="timeseries.goalsPerMatchSeries"></div>

<h4>Shape</h4>
<div linechart  height="200" y-axis-format-function="yAxisPercentFormatFunction()" ng-model="timeseries.shapeSeries"></div>

<h4>Ranking</h4>
<div linechart  invert-y-Axis="true" height="200" ng-model="timeseries.rankingSeries"></div>

<h4>Elo Value</h4>
<div linechart  height="200" ng-model="timeseries.eloValueSeries"></div>
</div>





<div ng-show="isTimeseriesLoading">
  <img src="images/ajax-loader.gif" /> Loading history data...
</div>

