
<span ng-show="isLoadingPlayerStats"><img src="../images/ajax-loader.gif" /> Loading playerStats...</span>
<div ng-show="playerStats">
 <h3>Player Stats</h3>
 <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      	<tr>
      		<th>Date</th>
      		<th>Matches</th>
      		<th>Minutes</th>
      		<th>Elo</th>
      	</tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in playerStats.matchesPlayedPerDay">
          <td>{{key | date:'dd.MM.yyyy (EEE)'}}</td>
          <td>
			{{playerStats.matchesPlayedPerDay[key]}}
          </td>
          <td>
			{{playerStats.secondsPlayedPerDay[key] / 60 | number:0}}
          </td>
          <td>
			{{playerStats.eloPerDay[key]}}
          </td>
        </tr>


      </tbody>
        
     </table>
  </div>

</div>




