
<h3>NFA Ranking</h3>
<div>
	Ranking: <a href="#/ranking">All</a>
		<span ng-repeat="table in tables">, <a href="#/ranking/tag/{{table.name}}">{{table.name}}</a></span>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
          <tr>
            <th><a href="" ng-click="predicate = 'ranking'; reverse=!reverse">#</a></th>
            <th><a href="" ng-click="predicate = 'player'; reverse=!reverse">Who</a></th>
            <th><a href="" ng-click="predicate = 'eloValue'; reverse=!reverse">elo</a></th>
            <th><a href="" ng-click="predicate = ['successRate', 'goalPlusMinus']; reverse=!reverse">%</a></th>
            <th><a href="" ng-click="predicate = 'currentShapeRate'; reverse=!reverse">Sh %</a></th>
            <th><a href="" ng-click="predicate = 'goalPlusMinus'; reverse=!reverse">Goals</a></th>
            <th><a href="" ng-click="predicate = 'averageGoalsPerMatch'; reverse=!reverse">GPM</a></th>
            <th><a href="" ng-click="predicate = 'achievementPoints'; reverse=!reverse">RSPCT</a></th>
            <th><a href="" ng-click="predicate = 'badges.length'; reverse=!reverse">Badges</a></th>
            <th><a href="" ng-click="predicate = 'dynamicRanking'; reverse=!reverse">%/elo/ts</a></th>
            <th><a href="" ng-click="predicate = 'trueSkillRating'; reverse=!reverse">TrueSkill</a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ranking in rankings | orderBy:predicate:reverse">
            <td>{{$index + 1}} </td>
            <td><a href="#/player/{{ranking.player}}">{{ranking.player}} </a></td>
            <td>{{ranking.eloValue}}</td>
            <td ng-class="{won: ranking.successRate > 0.5, lost: ranking.successRate < 0.5}">{{ranking.successRate * 100 | number:1}}</td>
            <td ng-class="{won: ranking.currentShapeRate > ranking.successRate, lost: ranking.currentShapeRate < ranking.successRate}">{{ranking.currentShapeRate * 100 | number:1}}</td>
            <td ng-class="{won: ranking.goalPlusMinus > 0, lost: ranking.goalPlusMinus < 0}"><span ng-show="ranking.goalPlusMinus >= 0">+</span>{{ranking.goalPlusMinus| number:2}}</td>
            <td >{{ranking.averageGoalsPerMatch| number:2}}</td>
            <td >{{ranking.achievementPoints}}</td>
            <td>
				<div badges ng-model="ranking.badges" badge-map="badgeMap"></div>
            </td>
            <td>{{ranking.ranking}}/{{ranking.eloRanking}}/{{ranking.trueSkillRanking}}</td>
            <td>{{ranking.trueSkillRating | number:1}}</td>
          </tr>
        </tbody>
	</table>
</div>

<div ng-show="isRankingLoading">
	<img src="images/ajax-loader.gif"/> Loading rankings...
</div>
<BR/>
<B>Note:</B> players are only ranked after 2 or more sessions
<h4>Legend</h4>
<table class="table table-striped">
   <thead>
      <tr>
        <th>Column</th>
        <th>Description</th>
      </tr>
    </thead>
	<tbody>
		<tr>
			<td>
				%
			</td>
			<td>
				Success rate: currently primary attribute for ranking
			</td>
		</tr>
		<tr>
			<td>
				Sh %
			</td>
			<td>
				Shape: win rate of last 8 matches
			</td>
		</tr>
		<tr>
			<td>
				Goals
			</td>
			<td>
				Goals Plus/Minus: (GoalsMade - GoalsGot) / NumberOfMatches
			</td>
		</tr>
		<tr>
			<td>
				GPM
			</td>
			<td>
				Goals Per Match: Personally accounted goals divided by number of matches
			</td>
		</tr>
		<tr>
			<td>
				RSPCT
			</td>
			<td>
				Degree of Respect: the earned points by badges
			</td>
		</tr>
	</tbody>
</table>
<h4>Badges</h4>
<table class="table table-striped">
   <thead>
      <tr>
        <th>Badge</th>
        <th>Type</th>
        <th>RSPCT</th>
        <th>#</th>
        <th>Description</th>
      </tr>
    </thead>
	<tbody>
		<tr ng-repeat="badge in badgeList | orderBy:index">
			<td>
				<span class="label label-primary {{badge.badgeType}}">
					<i class="fa {{badge.faClass}}"></i> {{badge.name}}
				</span>
			</td>
			<td>
				{{badge.badgeType}}
			</td>
			<td>
				{{badge.achievementPoints}}
			</td>
			<td>
				{{badge.badgeCount}}
			</td>
			<td> 
				{{badge.description}}
			</td>
		</tr>
	</tbody>
</table>



