
<h1>NFA Ranking</h1>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
          <tr>
            <th>#</th>
            <th><a href="" ng-click="predicate = 'player'; reverse=!reverse">Who</a></th>
            <th><a href="" ng-click="predicate = 'successRate'; reverse=!reverse">%</a></th>
            <th><a href="" ng-click="predicate = 'currentShapeRate'; reverse=!reverse">Shape %</a></th>
            <th><a href="" ng-click="predicate = 'goalPlusMinus'; reverse=!reverse">Goals</a></th>
            <th><a href="" ng-click="predicate = 'badges.length'; reverse=!reverse">Badges</a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ranking in rankings | orderBy:predicate:reverse">
            <td>{{$index + 1}} </td>
            <td><a href="#/player/{{ranking.player}}">{{ranking.player}} </a></td>
            <td ng-class="{won: ranking.successRate > 0.5, lost: ranking.successRate < 0.5}">{{ranking.successRate * 100 | number:1}}</td>
            <td ng-class="{won: ranking.currentShapeRate > 0.5, lost: ranking.currentShapeRate < 0.5}">{{ranking.currentShapeRate * 100 | number:1}}</td>
            <td ng-class="{won: ranking.goalPlusMinus > 0, lost: ranking.goalPlusMinus < 0}"><span ng-show="ranking.goalPlusMinus >= 0">+</span>{{ranking.goalPlusMinus| number:2}}</td>
            <td>
				<div badges ng-model="ranking.badges" badge-map="badgeMap"></div>
            </td>
          </tr>
        </tbody>
	</table>
</div>

<div ng-show="isRankingLoading">
	<img src="images/ajax-loader.gif"/> Loading rankings...
</div>
<BR/>
<B>Note:</B> players are only ranked after 2 or more sessions
<h4>Badges</h4>
<table class="table table-striped">
	<tbody>
		<tr class="row" ng-repeat="badge in badgeList | orderBy:index">
			<td>
				<span class="label" ng-class="{'label-primary': badge.badgeType === 'Achievement', 'label-danger': badge.badgeType === 'Shamelet'}">
					<i class="fa {{badge.faClass}}"></i> {{badge.name}}
				</span>
			</td>
			<td>
				{{badge.description}}
			</td>
		</tr>
	</tbody>
</table>



