<h3>User Registration</h3>
<div class="row">
	<form name="playerForm">
		<div class="col-md-12 form-group">
			<label for="player">Player</label>
			<input required type="text" class="form-control" id="player"
				ng-model="player.player" placeholder="Short name">
		</div>
		
		<div class="col-md-12 form-group">
			<label for="email">Email (optional for notification)</label>
			<input required type="email" class="form-control" id="email"
				ng-model="player.email" placeholder="Email for notification after game">
		</div>
		
		<div class="col-md-12 form-group">
			<label>Player Identification</label>
		</div>
		
		<div class="col-md-12 form-group">
			<div ng-show="!showCam" class="pull-left" player-img="player.imageUrl"></div>
			<ng-camera
			  ng-show="showCam"
			  type="photo"
			  enabled="showCam"
			  width="120"
			  height="90"
			  ng-model="media"
			  capture="callback(media)"
			  capture-message="Go!"></ng-camera>
		</div>
		
		<div class="col-md-12 form-group">
			<button ng-show="!showCam" class="btn btn-primary" ng-click="enableCam()"> <i class="fa fa-camera"></i> Take Picture</button>
		</div>

		<div class="col-md-12 form-group">
			<button ng-disabled="!playerForm.$valid || isPlayerRegistering" type="submit"
				class="btn btn-primary" ng-click="addPlayer()">Register</button>
			<div ng-show="isPlayerRegistering">
				<img src="images/ajax-loader.gif" /> Registering...
			</div>
		</div>
	</form>
{{ player | json }}
</div>

