<h3>User Registration</h3>
	<form novalidate name="playerForm">
	  <div class="row">
	    <div class="col-md-12">
	    	<div ng-show="isRegistrationOK" class="alert alert-success" role="alert">
	    		Registration was successful!
	    	</div>
	    	<div ng-show="isRegistrationFailed" class="alert alert-danger" role="alert">
	    		There was a problem with the registration. Please try again...
	    	</div>
	    </div>
	  </div>
	  <div class="row">
		<div class="col-md-12 form-group" ng-class="{'has-error': 'playerForm.player.$error'}">
			<label for="player">Player</label>
			<input required type="text" class="form-control" id="player" name="player"
				ng-model="player.player" playerexists placeholder="Short name (max 6 characters)" maxlength="6">
			<div ng-show="playerForm.player.$error.required && playerForm.player.$dirty">Please enter player name</div>
			<div ng-show="playerForm.player.$error.playerexists">This player is already registered. Please choose another</div>
		</div>
	  </div>
	  <div class="row">		
		<div class="col-md-12 form-group">
			<label for="email">Email (optional for notification)</label>
			<input type="email" class="form-control" id="email" name="email"
				ng-model="player.email" placeholder="Email for receiving game summary">
			<div ng-show="playerForm.email.$error.email">Please enter a valid email address</div>
		</div>
	  </div>
	  <div class="row">		
		<div class="col-md-12 form-group">
			<label>Player Identification</label>
		</div>
	  </div>
	  <div class="row">		
		<div class="col-xs-12 form-group">
			<div ng-show="!showCam && !isCaptureLoading && !showUpload" class="pull-left" player-img="player.imageUrl"></div>


			<img ng-show="isCaptureLoading" src="images/ajax-loader.gif" />
			<ng-camera class="img img-rounded"
			  ng-show="showCam"
			  type="photo"
			  enabled="showCam"
			  width="160"
			  height="120"
			  ng-model="media"
			  capture="callback(media)"
			  capture-message="Go!"></ng-camera>
			  <input ng-show="false" required type="text" class="form-control" id="imageUrl"
				ng-model="player.imageUrl">
		</div>
	  </div>
	  <div class="row">		
		<div class="col-xs-12 form-group">
			<button ng-show="!showCam && !showUpload && hasGetUserMedia()" class="btn btn-primary" ng-click="enableCam()"> <i class="fa fa-camera"></i> Take Picture</button>
			<span ng-show="!showCam && !showUpload && !hasGetUserMedia()" class="btn btn-default btn-file">
				<i class="fa fa-camera"></i> Upload <input file-model="fileForUpload" type="file" accept="image/*;capture=camera" capture="camera">
			</span>
		</div>
	  </div>
	  <div class="row">
		<div class="col-md-12 form-group">
			<button ng-disabled="!playerForm.$valid || isPlayerRegistering" type="submit"
				class="btn btn-primary" ng-click="register()">Register</button>
			<div ng-show="isPlayerRegistering">
				<img src="images/ajax-loader.gif" /> Registering...
			</div>
		</div>
	  </div>
	</form>

</div>

