<h4>Summary</h4>

<div class="row">
	<div class="col-xs-3">
		<b>Player</b>
	</div>
	<div class="col-xs-3">
		<b>Score</b>
	</div>
	<div class="col-xs-3">
		<b>Goals</b>
	</div>
	<div class="col-xs-3">
		<b>Elo</b>
	</div>
</div>
<div class="row" ng-repeat="playerScore in summary.playerScores | orderBy:'-score'"  ng-class-even="'even'" ng-class-odd="'odd'">
	<div class="col-xs-3">
		{{playerScore.player}}
	</div>
	<div class="col-xs-3">
		{{playerScore.score}}
	</div>
	<div class="col-xs-3">
		{{playerScore.goals}}
	</div>
	<div class="col-xs-3">
		{{playerScore.earnedEloPoints}}
	</div>
</div>
