 <div class="row">
	<div class="col-md-12">
		 <div class="starter-template">
		   <h1>Table {{table}}</h1>
		 </div>
		
		<div class="row">
			<div class="col-md-5 form-group">
			  <input type="text" class="form-control" id="player" ng-model="player" placeholder="Shortsign of 4 players separated by space, e.g. dei cw cm yw">
			</div>
			<div class="col-md-7 form-group">
				<button ng-disabled="currentGame.players.length != 4" type="submit" class="btn btn-primary" ng-click="startGame()">Start Game</button>
			</div>

		</div>
		<div ng-show="currentGame.players.length > 0">
			<h2>Players</h2>
			<div class="row">
				<div class="col-xs-2" ng-repeat="player in currentGame.players">
					<div class="text-center">
						
						<img class="img img-rounded player" src="{{PlayerService.getPlayerPicture(player)}}"/>
						<div class="caption">{{player}} <div>#{{(players[player].ranking)}}</div></div>
					</div>
				</div>
				<div class="col-xs-4"></div>
			</div>
		</div>

		
		<div ng-show="games.length > 0">
			<h2>Open Games</h2>
			<div class="alert alert-success" ng-repeat="game in games  | orderBy:'-startDate'">
			  <span ng-repeat="player in game.players">{{player}} </span>
			  <div class="pull-right">
				  <button ng-hide="game.endDate" class="btn btn-primary" ng-click="continueGame(game.id)">Continue ({{game.numberOfCompletedGames + 1}}/4)</button>
				  <button ng-hide="game.endDate || isDeleteButtonVisible" class="btn btn-danger" ng-click="isDeleteButtonVisible = true">Delete</button>
				  <button ng-show="isDeleteButtonVisible" class="btn btn-danger" ng-click="deleteGame(game.id)">Really?</button>
			  </div>
			  <div>
			  	{{game.startDate | date:'short'}}
			  		<span ng-show="game.endDate"> - {{game.endDate | date:'short'}}</span>
			  </div>
			</div>
		</div>
		<div ng-show="isGamesLoading">
			<img src="images/ajax-loader.gif"/> Loading previous games
		</div>
	</div>
</div>