 <div class="starter-template">
   <h1>Table {{table}}</h1>
 </div>

<div>
	<form class="form-inline" role="form">
	  <div class="form-group">
	    <input type="text" class="form-control" id="player" ng-model="player" placeholder="Player name">
	  </div>
	  <div class="form-group">
		<button ng-disabled="currentGame.players.length >= 4" type="submit" class="btn btn-default" ng-click="addPlayer()">Add Player</button>
	  </div>
	  <div class="form-group">
	  	<button ng-disabled="currentGame.players.length != 4" type="submit" class="btn btn-primary" ng-click="startGame()">Start Game</button>
	  </div>
	</form>
</div>
<div class="alert alert-success" ng-repeat="player in currentGame.players">{{player}}</div>


<h2>Former Games</h2>
<div class="alert alert-success" ng-repeat="game in games">
  <span ng-repeat="player in game.players">{{player}} </span>
  <span class="pull-right">{{game.startDate | date:'short'}}</span>
</div>