<h3>Current Game on {{table}} </h3>
<div ng-show="openGames.gameList.length == 0 && !isGamesLoading">
  Currently there are no open games...
</div>
<div ng-show="openGames.gameList.length > 0">
	<div ng-repeat="game in openGames.gameList | filter:{table: table} | limitTo: 1">
	  <div class="label label-info">
	  		{{game.table}} | {{game.gameMode}}
	  </div>
	  <div ng-show="game.matches" ng-repeat="match in game.matches | filter:{matchIndex: game.indexOfLastUpdatedMatch}">
	 	<div>Match {{match.matchIndex + 1}} of {{game.matches.length}}</div>
	    <div class="panel panel-default">
	      <div class="panel-heading">
	        <table style="width:100%">
	          <colgroup>
	            <col style="width:50px"/>
	            <col style="width:50px"/>
	            <col/>
	            <col style="width:50px"/>
	            <col style="width:50px"/>
	          </colgroup>
	          <tbody>
	            <tr>
	              <td><span player="match.teamA[0]"></span></td>
	              <td><span player="match.teamA[1]"></span></td>
	              <td class="score">{{ match.teamAScore }} : {{ match.teamBScore }}</td>
	              <td><span player="match.teamB[0]"></span></td>
	              <td><span player="match.teamB[1]"></span></td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
	      <table class="table">
	        <colgroup>
	          <col style="width:50px"/>
	          <col style="width:50px"/>
	          <col style="width:50px"/>
	        </colgroup>
	        <tbody>
	          <tr ng-repeat="goal in match.goals">
	            <td ng-class="{ goal: goal.scorerTeam == 'a' }">{{ goal.scorerTeam == 'a' ? goal.scorer : '' }}</td>
	            <td class="score">{{ goal.teamAScore }} : {{ goal.teamBScore }}</td>
	            <td ng-class="{ goal: goal.scorerTeam == 'b' }">{{ goal.scorerTeam == 'b' ? goal.scorer : '' }}</td>
	          </tr>
	        </tbody>
	      </table>

	 	<div>Last Scorer: {{match.scorers[match.scorers.length - 1]}}</div>


		</div>
	  </div>

	</div>
</div>
<div ng-show="isGamesLoading">
	<img src="images/ajax-loader.gif"/> Loading previous games
</div>
