<!doctype html>
<html lang="en" ng-app="Extraleague">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Extraleague</title>

    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="components/nvd3/nv.d3.min.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="shortcut icon" sizes="48x48" href="images/app-icon-mdpi.png">
    <link rel="shortcut icon" sizes="72x72" href="images/app-icon-hdpi.png">
    <link rel="shortcut icon" sizes="96x96" href="images/app-icon-xhdpi.png">
    <link rel="shortcut icon" sizes="144x144" href="images/app-icon-xxhdpi.png">

    <link rel="apple-touch-icon" href="images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/touch-icon-ipad-retina.png">

    <!-- iPhone SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
    <!-- iPhone (Retina) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPhone 5 SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad (portrait) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
    <!-- iPad (landscape) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-1024x748.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
    <!-- iPad (Retina, portrait) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad (Retina, landscape) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-2048x1496.png" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-touch/angular-touch.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="MainController">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="btn btn-default btn-nav" ng-if="backlink" ng-click="backAction()"><span class="glyphicon glyphicon-arrow-left"></span></button>
          <a class="navbar-brand" href="#">Extraleague</a>
          <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div collapse="navCollapsed" data-extraleague-navbar class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li data-match-route="/highlights"><a ng-click="navigateTo('highlights')">Highlights</a></li>
            <li data-match-route="/tables"><a ng-click="navigateTo('tables')">New Game</a></li>
            <li data-match-route="/ranking"><a ng-click="navigateTo('ranking')">Ranking</a></li>
            <li data-match-route="/openGames"><a ng-click="navigateTo('openGames')">Open Games</a></li>
            <li data-match-route="/playedGames"><a ng-click="navigateTo('playedGames')">Who played today?</a></li>
            <li data-match-route="/stats"><a ng-click="navigateTo('stats')">Statistics</a></li>
            <li data-match-route="/about"><a ng-click="navigateTo('about')">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
	  <div ng-view></div>
    </div><!-- /.container -->


    <script src="js/players.js"></script>
    <script src="js/channelservice.js"></script>
    <script src="js/charts.js"></script>
    <script src="js/extraleague.js"></script>
    <script src="components/jquery/jquery.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="components/d3/d3.js"></script>
	<script src="components/nvd3/nv.d3.js"></script>
	<script src="components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
	<script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
