<!doctype html>
<html lang="en" ng-app="Extraleague">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Extraleague</title>

    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="components/nvd3/nv.d3.min.css"/>
    <link rel="stylesheet" href="components/vis/dist/vis.css" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="dist/main.css">
    <link rel="stylesheet" type="text/css" href="/rest/league/style">

    <link rel="shortcut icon" sizes="48x48" href="images/app-icon-mdpi.png">
    <link rel="shortcut icon" sizes="72x72" href="images/app-icon-hdpi.png">
    <link rel="shortcut icon" sizes="96x96" href="images/app-icon-xhdpi.png">
    <link rel="shortcut icon" sizes="144x144" href="images/app-icon-xxhdpi.png">

    <link rel="apple-touch-icon" href="images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/touch-icon-ipad-retina.png">

    <!-- iPhone SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
    <!-- iPhone (Retina) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPhone 5 SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad (portrait) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
    <!-- iPad (landscape) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-1024x748.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
    <!-- iPad (Retina, portrait) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad (Retina, landscape) SPLASHSCREEN-->
    <link href="images/apple-touch-startup-image-2048x1496.png" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="MainController" ng-cloak>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
       
          <a ng-show="!league.logoUrl" class="navbar-brand" href="#" ng-bind="league.name"></a>
          <a ng-show="league.logoUrl" class="navbar-brand" href="#"><img ng-src="{{league.logoUrl}}"/></a>
          <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div collapse="navCollapsed" data-extraleague-navbar class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li data-match-route="/newGame"><a ng-click="navigateTo('newGame')">New Game</a></li>
            <li data-match-route="/ranking"><a ng-click="navigateTo('ranking')">Ranking</a></li>
            <li data-match-route="/meetingPoint"><a ng-click="navigateTo('meetingPoint')">Meetingpoint</a></li>
            <li data-match-route="/openGames"><a ng-click="navigateTo('openGames')">Open Games</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li data-match-route="/about"><a ng-click="navigateTo('about')">About Extraleague</a></li>
	            <li data-match-route="/highlights"><a ng-click="navigateTo('highlights')">Highlights</a></li>
	            <li data-match-route="/headToHead"><a ng-click="navigateTo('headToHead')">Head-To-Head</a></li>
	            <li data-match-route="/playedGames"><a ng-click="navigateTo('playedGames')">Today</a></li>
	            <li data-match-route="/stats"><a ng-click="navigateTo('stats')">Statistics</a></li>
	            <li data-match-route="/registration"><a ng-click="navigateTo('registration')">Register</a></li>
              </ul>
            </li>
            <li ng-show="isCurrentUserLoading"> <a href="#"><img src="images/ajax-loader.gif" /></a></li>
            <li ng-show="!isCurrentUserLoading && !currentUser.loggedIn"><a href="{{currentUser.loginUrl}}">Login</a></li>
            <li ng-show="!isCurrentUserLoading && currentUser.loggedIn" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.nickname}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li data-match-route="/account"><a ng-click="navigateTo('account')"><i class="fa fa-sliders"></i> Account</a></li>
                <li data-match-route="/playerStats"><a ng-click="navigateTo('playerStats')"><i class="fa fa-bar-chart"></i> Statistics</a></li>
                <li ng-show="currentUser.admin" data-match-route="/admin"><a ng-click="navigateTo('admin')"><i class="fa fa-list"></i> League Admin</a></li>
                <li><a href="{{currentUser.logoutUrl}}"><i class="fa fa-power-off"></i> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
	  <div ng-view></div>
    </div><!-- /.container -->

	<script type="text/javascript" src="/_ah/channel/jsapi"></script>
	<script src="dist/lib.js"></script>
	<script src="dist/app.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-327939-20', 'auto');
	
	</script>
</body>
</html>
